 /* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*===========================================================================*\
	General Styles
\*===========================================================================*/

html {
	color: #504441;
	font-size: 0.8em;
	font-family: sans-sefif;
}
html a:link {
	text-decoration: none;
	color: #572929;
}

.page {
	background: #D6CBC5;
}

.zone {
	background: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}

/*===========================================================================*\
	Header Styles
\*===========================================================================*/

header {
	padding-top: 30px;
}

/*===========================================================================*\
	Branding Styles
\*===========================================================================*/

.zone-wrapper.zone-branding-wrapper {
	
}

.zone-wrapper.zone-branding-wrapper .region-branding {
	padding-bottom: 20px;
}

.zone-wrapper.zone-branding-wrapper .region-branding hgroup.site-name-slogan {
	
}

.zone-wrapper.zone-branding-wrapper .region-branding h1.site-name a {
	color: #674B3F;
}

.zone-wrapper.zone-branding-wrapper .region-branding h1.site-name a {
	color: #674B3F;
}

/*===========================================================================*\
	Navigation Styles
\*===========================================================================*/

.zone-wrapper.zone-menu-wrapper {
	
}

.zone-wrapper.zone-menu-wrapper .zone-menu {
	background: #88766D url(../images/menu_bg_tail.gif) repeat-x;
}

.zone-wrapper.zone-menu-wrapper .zone-menu .grid-12.region-menu {
	background: #88766D url(../images/menu_bg_tail.gif) repeat-x 0 0;
	color: #FFFFFF;
}

.zone-wrapper.zone-menu-wrapper .zone-menu .navigation ul {
	/*display: inline-block;*/
}

.zone-wrapper.zone-menu-wrapper .zone-menu .navigation ul li {
	border-right: thin solid #444444;
	margin: 0;
	padding: 0;
	float: left;
	display: inline-flex;
	text-transform: capitalize;
}

.zone-wrapper.zone-menu-wrapper .zone-menu .navigation ul li.first {
	border-left: thin solid #444444;
}

.zone-wrapper.zone-menu-wrapper .zone-menu .navigation ul li a {
	background: #88766D url(../images/menu_bg_tail.gif) repeat-x 0 0;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	padding: 14px 15px;
	font-size: 1.1em;
}
.zone-wrapper.zone-menu-wrapper .zone-menu .navigation ul li a:hover {
	background-position: 0 bottom;
}

/*===========================================================================*\
	Content Styles
\*===========================================================================*/



.section-content .zone-content h1#page-title {
	display: none;
}

.section-content .zone-content .grid-12.region-content {
	margin-top: 20px;
	color: #777777;
}

.block-system-main.block-without-title {
	display:none;
}

/*=============================Postscript Style==============================*/

.zone-postscript-wrapper {}

.zone-postscript-wrapper .zone-postscript {
	padding-top: 30px;
}

.zone-postscript-wrapper .zone-postscript .region  .region-inner section {
	background: #FBFBFB;
	padding: 10px;
	border: thin solid #EEEEEE;
	color: #777777;
	font-size: 0.8em;
	line-height: 20px;
}

.zone-postscript-wrapper .zone-postscript .region  .region-inner section:hover {
	border: thin solid #CCCCCC;
}

.zone-postscript-wrapper .zone-postscript .region  .region-inner section h2.block-title {
	font-weight: normal;
	font-family: sans-serif;
	color: #292929;
	margin-bottom: 10px;
	font-size: 1.7em;
}

.zone-postscript-wrapper .zone-postscript .region  .region-inner section .content a {
	color: #777777;
}

.zone-postscript-wrapper .zone-postscript .region  .region-inner section .content a:hover {
	text-decoration: underline;
}



/*===========================================================================*\
	Footer Styles
\*===========================================================================*/

footer {
	padding-bottom: 30px;
}

footer .block-menu-menu-footer-menu {
	padding-top: 30px;
	padding-bottom: 40px;
}

footer .block-menu-menu-footer-menu h2.block-title {
	display: none;
}

footer .block-menu-menu-footer-menu .content ul li {
	float: left;
	list-style: none;
	font-size: 0.8em;
	text-transform: capitalize;
}

footer .block-menu-menu-footer-menu .content ul li a {
	color: #292929;
}

footer .block-menu-menu-footer-menu .content ul li a:hover {
	text-decoration: underline;
}

#region-footer-first .region-inner section ,
#region-footer-main .region-inner section {
	background: #FBFBFB;
	padding: 10px;
	border: thin solid #EEEEEE;
	color: #777777;
	font-size: 0.8em;
	line-height: 20px;
}

#region-footer-first .region-inner section:hover ,
#region-footer-main .region-inner section:hover {
	border: thin solid #CCCCCC;
}

#region-footer-first .region-inner section h2.block-title ,
#region-footer-main .region-inner section h2.block-title {
	font-weight: normal;
	font-family: sans-serif;
	color: #292929;
	margin-bottom: 10px;
	font-size: 1.7em;
}

#region-footer-first .region-inner section .content a ,
#region-footer-main .region-inner section .content a {
	color: #777777;
}

#region-footer-first .region-inner section .content a:hover ,
#region-footer-main .region-inner section .content a:hover {
	text-decoration: underline;
}
